<!--
ExternalLinksChecker include
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="externallinkschecker:check" type="ExternalLinksChecker.Commands.StartExternalLinksChecker,ExternalLinksChecker"/>
      <command name="externallinkschecker:download" type="ExternalLinksChecker.Commands.DownloadReport, ExternalLinksChecker"/>
      <command name="externallinkschecker:close" type="ExternalLinksChecker.Commands.Close, ExternalLinksChecker"/>
    </commands>
    <controlSources>
      <source mode="on" namespace="Sitecore.Modules.ExternalLinksChecker.XmlControls" folder="/sitecore modules/shell/ExternalLinksChecker" deep="true" prefix="ExternalLinksChecker" />
    </controlSources>
    <settings>
      <!-- CheckerThreadPriority
      The thread priority of checker jobs.
      Valid values: Lowest, BelowNormal, Normal, AboveNormal, Highest
      Default value: BelowNormal
      -->
      <setting name="CheckerThreadPriority" value="BelowNormal" />

      <!-- SourceRootItem
      The path to the default Root Item. Can be changed in an appropriate /sitecore/system/Modules/ExternalLinksChecker/SourceDatabases/ database item
            Default value:/sitecore/content
      -->
      <setting name="SourceRootItem" value="/sitecore/content"/>
      <!--DefaultSettingDatabase
      Name of the database which will hold the system module items.
      -->
      <setting name="DefaultSettingDatabase" value="master"/>
      <!--SourceDatabaseTemplateID
      The guid of the default template for source database items (stored under /sitecore/system/Modules/ExternalLinksChecker/SourceDatabases/).
      -->
      <setting name="SourceDatabaseTemplateID" value="{D61E9003-D6BC-4EEE-9727-451FA03C5C02}"/>
      <!--SourceDatabases
      The path to the Source Databases.  
            Default value: /sitecore/system/Modules/ExternalLinksChecker/SourceDatabases
      -->
      <setting name="SourceDatabasesRoot" value="/sitecore/system/Modules/ExternalLinksChecker/SourceDatabases"/>
      <!--HttpStatusCodeFolder
       The path to the http responce codes description.  
            Default value: /sitecore/system/Modules/ExternalLinksChecker/Codes
      -->
      <setting name="HttpStatusCodeFolder" value="/sitecore/system/Modules/ExternalLinksChecker/Codes"/>
      <!--
      If set to true all results will be showed in report, if set to false only codes in HttpStatusCodeFolder folder
      Default value: true
      -->
      <setting name="ShowAllResults" value="true"/>
      <!--
      set Thread Count for request processing ThreadPool
      default value:20
      -->
      <setting name="CheckerMaxThreadCount" value="20"/>
      <!--HttpWebRequest.Timeout 
     Specifies the number of miliseconds before Sitecore considers page request as expired. Default value 8000
     -->
      <setting name="HttpWebRequest.Timeout" value="8000"/>
<!--AllowedProtocols 
Specified request/response protocols (used in external links) allowed for checking. Should be splited by '|' character. Default value http|https  
-->
      <setting name="AllowedProtocols" value="http|https"/>
    </settings>

    <!--
    fieldTypeName: represents field type name from the sitecore/system/Field Type folder 
    type: class must implement ExternalLinksChecker.TypesForChecking.ITypeForChecking interface, processes field value and returns link(s) request result. 
    -->
    <FieldCheckTypes>
      <fieldType fieldTypeName="link" type="ExternalLinksChecker.TypesForChecking.CheckLinkField, ExternalLinksChecker"/>
      <fieldType fieldTypeName="General Link" type="ExternalLinksChecker.TypesForChecking.CheckLinkField, ExternalLinksChecker"/>
      <fieldType fieldTypeName="rich text" type="ExternalLinksChecker.TypesForChecking.CheckRichTextField, ExternalLinksChecker"/>
    </FieldCheckTypes>
  </sitecore>


</configuration>